@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: #f1f5f9;
    color: #1e293b;
  }
}

input[type="text"] {
  -moz-appearance: textfield;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}